<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/assets/favicon/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/assets/css/linkpreview.css" media="screen">

<!-- Primary Meta Tags -->
<title>Joy's Blog</title>
<meta name="title" content="Joy's Blog">
<meta name="description" content="Joy의 블로그">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dpdms529.github.io/">
<meta property="og:title" content="Joy's Blog">
<meta property="og:description" content="Joy의 블로그">
<meta property="og:image" content="/assets/images/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dpdms529.github.io/">
<meta property="twitter:title" content="Joy's Blog">
<meta property="twitter:description" content="Joy의 블로그">
<meta property="twitter:image" content="/assets/images/logo.png">
<!-- end custom head snippets -->
