---
layout: archive
---

{{ content }}

{% assign categories = site.data.navigation["docs"] %}
{% for category in categories %}
  {% if category.title == page.taxonomy %}
    {% assign sub_categories = category.children %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for sub_category in sub_categories %}
    {% for category in site.categories %}
      {% if sub_category.title == category[0] %}
        <li>
          <a href="{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>

