---
layout: archive
subcategories:
  - SQLD
  - 친절한SQL튜님
---

{{ content }}

{% assign categories_max = 0 %}
{% for subcategory in page.subcategories %}
  {% if site.categories.subcategory.size > categories_max %}
    {% assign categories_max = site.categories.subcategory.size %}
  {% endif %}
{% endfor %}


<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for subcategory in page.subcategories %}
      {% if site.categories.subcategory.size == i %}
        <li>
          <a href="{{ subcategory | slugify }}">
            <strong>{{ subcategory }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for subcategory in page.subcategories %}
    {% if site.categories.subcategory.size == i %}
      <section id="{{ subcategory | slugify | downcase }}" class="taxonomy__section">
        <a href="{{ subcategory | slugify }}">
          <h2 class="archive__subtitle">{{ subcategory }}</h2>
        </a>
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
